{% extends "base.html" %}

{% block script %}
<script>

$(document).ready(function(){

	loadTweetContainer("tweet-container")

});

</script>


{% endblock script %}

{% block content %}



	<div class="row">
		<div class="col-md-12">
			{% if request.GET.q %}
				<p class="lead">Results for {{ request.GET.q }}</p>
				</hr>
			{% endif %}
			
		</div>
		<div class="col-sm-8 col-sm-offset-2">
			<h1>Tweets</h1></hr>
			<div id="tweet-container" data-url='/api/tag/{{ obj.tag }}/'>
			</div>
			<a id="loadmore" href=""> Load More </a>

		</div>	
	</div>
{% endblock content %}


