{% extends "base.html" %}

{% block title %} LikeTweet | {{ block.super }} {% endblock title %}

{% block content %}

	<div class="row">
		<div class="col-sm-3 col-xs-12 pull-left" style="background-color:#F50057;">
			<h1>{{ request.user }}</h1>
		</div>
		<div class="col-sm-9">
			{% if not request.GET.q %}
				<div class="">
					{% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" %}<br>
				</div><br>
				<hr/>
			{% endif %}
	{% for object in object_list %}
	<div class="row">
		<div class="col-sm-3 col-xs-12" style="background-color:#F50057;">
			<h1>{{ object.user }}</h1>
		</div>
		<div class="col-sm-9">
			{{ object.content }} <br>
				via {{ object.user }} | {{ object.timestamp|timesince }} ago <a href="{{ object.get_absolute_url }}"> View </a>
			</div>
		</div>
<hr>

			{% empty %}
				{% if request.GET.q %}
					<p>No tweets found.</p>
				{% else %}
					<p>No tweets yet.</p>
				{% endif %}
			{% endfor %}
		</div>	
	</div>
</div>
{% endblock content %}


