{% extends "base.html" %}

{% block script %}
<script>

$(document).ready(function(){

	loadTweetContainer("tweet-container")

});

</script>


{% endblock script %}


{% block title %} LikeTweet | {{ block.super }} {% endblock title %}

{% block content %}



	<div class="row">
		<div class="col-sm-3 col-xs-12 pull-left" style="background-color:#F50057;">
			<h1>{{ request.user }}</h1>
		</div>
		<div class="col-sm-9">
			{% if not request.GET.q %}
				<div class="">
					{% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" form_class="tweet-form" %}<br>
				</div><br>
				<hr/>
			{% endif %}
		<div id="tweet-container" data-url='/api/tweet/'>

		</div>
		<a id="loadmore" href=""> Load More </a>

		</div>	
	</div>
{% endblock content %}


