{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} LikeTweet {% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  </head>
  <body>
    {% include "navbar.html" %}
      <div class="container">
          {% block content %}
          {% endblock content %}
      </div>

    <!-- Optional JavaScript -->        
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block script %}{% endblock script %}

  </body>
</html>