{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} LikeTweet {% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style type="text/css">
      .red-color{
        color:red;
      }
      .grey-color{
        color:grey;
      }
    </style>
  </head>
  <body>
    {% include "navbar.html" %}
      <div class="container">
          {% block content %}
          {% endblock content %}
      </div>

    <!-- Optional JavaScript -->        
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    {% block script %}{% endblock script %}
    <script>
        $(document).ready(function(){
          var typingTimer;
          var doneInterval = 500 //miliseconds
          var searchInput = $("#navbar-search-form input[type=text]");
          var searchQuery;
          searchInput.keyup(function(event){
              searchQuery = $(this).val();
              
              clearTimeout(typingTimer);
              typingTimer = setTimeout(doneSearchTyping, doneInterval);
          })

          searchInput.keydown(function(event){
              clearTimeout(typingTimer);
          })

          function doneSearchTyping(){
             if (searchQuery){
                var url = '/tweet/search/?q=' + searchQuery;
                document.location.href = url;
            }
          }
        })

    </script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>