{% extends "base.html" %}

{% block script %}
<script>

    $(document).ready(function(){

        $("form input").addClass('form-control')

    });

</script>
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3 text-center">
    <h1>Login</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="form-group">
        <label>{{ form.username.label_tag }}</label>
        <td>{{ form.username }}</td>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">{{ form.password.label_tag }}</label>
        <input type="password" id="exampleInputPassword1" placeholder="Password" class="form-control">{{ form.password }}
    </div>

    <button type="submit" class="btn btn-default"> Login </button>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}